<div id="sidebar-wrapper">
  <a href="#" class="sidebar-heading">
    <img src="/assets/images/logo.png" alt="logo">
  </a>
  <div class="list-group">
    <a href="#" class="active">
      <i data-feather="home"></i> Home</a>
    <a href="#">
      <i data-feather="pie-chart"></i> Dashboard</a>
    <a href="#">
      <i data-feather="file"></i>Reports</a>
    <a href="#">
      <i data-feather="info"></i>About
    </a>
    <a href="#">
      <i data-feather="message-square"></i>
      Chat</a>


    <div class="client dropright">
      <a type="button" id="clientMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span><i data-feather="users"></i>
          Client </span>
        <i data-feather="chevron-right"></i>
      </a>
      <div class="dropdown-menu clientGroup" aria-labelledby="clientMenuButton">
        <a class="dropdown-item" href="#">Adelia</a>
        <a class="dropdown-item" href="#">Antaram</a>
        <a class="dropdown-item" href="#">Cleopatra</a>
        <a class="dropdown-item" href="#">Guinevere</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">SMorela</a>
      </div>
    </div>

    <a href="#">
      <i data-feather="hexagon"></i>
      App</a>
    <a href="#"><i data-feather="log-out"></i> Log Out</a>
  </div>
</div>