<main>
  <div class="d-flex" id="wrapper" [class.toggled]="toggleNavBar">
    <app-left-side-navbar></app-left-side-navbar>
    <div id="page-content-wrapper" (click)="toggleNavBar = false">
      <nav class="navbar navbar-expand-lg barmobile">
        <button id="menu-toggle" (click)="showMobileNavBar(); $event.stopPropagation()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-menu">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </button>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
